.input-container {
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    background-color: whitesmoke;
    cursor: pointer;
}
.upload-container{
    margin: 5px;
}
    
img{
    width: 100%;
    height: 100%;
}