<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['./clock']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./async-clock']">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./profile']">profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['./app-dir']">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['./dialogue']">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<router-outlet></router-outlet>

<!-- <app-postasync id="2"></app-postasync> -->
<div>
  https://dev.to/this-is-angular/compound-components-in-angular-l7m
  <app-country>
    <app-country-selected></app-country-selected>
    <app-country-flag></app-country-flag>
    <app-country-flag></app-country-flag>
    <app-country-flag></app-country-flag>
    <app-banner></app-banner>
  </app-country>


<!-- <h2>Address </h2>
<form [formGroup]="form" >
  <div class="form-field">
    <label for="displayName"> Display Name</label>
    <input type="text" formControlName="displayName" type="text" id="displayName">
  </div>
  <app-address-group [controlKey]="'deliveryAddress'"  [label]="'Delivery Address'"></app-address-group>
  <app-address-group [controlKey]="'mailingAddress'"  [label]="'Mailing Address'"></app-address-group>
  <button (click)="submit()">submit</button>

<div appChangebg [color]="'yellow'" #a='changecolor'>okokko</div>
<button (click)="a.changeColor('green')">Change Background</button>
</form>
</div>
<div style="margin-top: 30px"></div>

<h2>Reactive forms deepo</h2>
<app-rect-forms></app-rect-forms> -->

<div style="margin-top: 30px" class="content" role="main">
  <!-- Highlight Card -->
  <!-- <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
  </div> -->

  <!-- Terminal -->

  <!-- Links -->
  <!-- <h1>67 vid user</h1>
  Search User User Id
  <input type="text" #userId (keyup.enter)="getUser(userId.value)" />

  <app-ngcuser [users]="ngusers"></app-ngcuser> -->

  <br />
  <br />

  <!-- <div class="card-container">
    <select (change)="onIdSelection(selectedid.value)" #selectedid>
      <option selected disabled>No id selected</option>
      <option [value]="id" *ngFor="let id of userIds">{{ id }}</option>
    </select>
  </div>
  <app-user [userId]="selectedId"></app-user>
  <br />
  Name: <input type="text" (keyup.enter)="(0)" #name /> dob:
  <input type="text" (keyup.enter)="(0)" #dob /> -->
  <!-- <app-userc [namex]="name.value" [dob]="dob.value" [user]="user" *ngFor="let user of user ns" (nameEvt)="onNameChange($event)"></app-userc> -->

  <!-- <app-usercdec
    [namex]="name.value"
    [dob]="dob.value"
    [user]="user"
    *ngFor="let user of users"
    (nameEvt)="onNameChange($event)"
  ></app-usercdec> -->
  <!-- Footer -->

  ..................................................................................................
  <!-- department -->
  <div class="row">
    <div class="col-md-9">
      <select (change)="onDepartmentChange(dep.value)" #dep>
        <option value="-1" selected>Choose department</option>
        <option [value]="i" *ngFor="let dep of departments; index as i">
          {{ dep.name }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <div>
        <label>Teacher:</label>
        <input type="text" (keyup.enter)="(0)" #teacher />
        <!-- <app-department [department]="selectedDept" [teacher]="teacher.value"></app-department> -->
        <!-- <app-departmentgs [department]="selectedDept" [teacher]="teacher.value"></app-departmentgs> -->
        <app-departmentgsdec
          [department]="selectedDept"
          [teacher]="teacher.value"
        ></app-departmentgsdec>
      </div>
    </div>
  </div>

  <app-fileinput>
    <!-- <input type="file" #file> -->
    <!-- //using directive -->
    <input type="file" />
  </app-fileinput>
  <!-- slider -->
  <!-- one child -->

  <!-- <div class="row">
    <app-slider [photos]="photos">
      <app-photo-preview [selectedPhoto]="photos[2]"></app-photo-preview>
    </app-slider>
  </div> -->

  <!-- multiple children -->

  <!-- <div style="margin-top: 100px">
    <app-photo-list>
      <app-photo
        *ngFor="let photo of photos"
        [photo]="photo"
        (onRemove)="onRemoveEvent($event)"
      >
      </app-photo>
    </app-photo-list>
  </div> -->

  <!-- multiple children -->
  <!-- department -->

  <!-- movie -->
  <div style="margin-top: 10px">
    <!-- <app-marvel>
      <app-movie  [movie]="movie" >

      </app-movie>
    </app-marvel> -->
  </div>
  <!-- accordian -->
  <div style="margin-top: 10px">
    <!-- <app-accordian accordian>
      <app-tab>
        <h1>Home </h1>
        <p>Page content</p>
      </app-tab>
      <app-tab>
        <h1>Contact </h1>
        <p>Contact content</p>
      </app-tab>
      <app-tab>
        <h1>Data </h1>
        <p>Data content</p>
      </app-tab>
      <app-tab (accItem)="addItem($event)" [isOpened]="true">
        <h1>TEST </h1>
        <p>TEST content</p>
      </app-tab>
    </app-accordian> -->
  </div>

  <div style="margin-top: 10px"></div>
  <!-- <ul>
    <li *ngFor="let tech1  of techList">
      {{tech1.name}}
      <ul *ngIf="tech1.techList && tech1.techList.length">
        <li *ngFor="let tech2  of tech1.techList">
          {{tech2.name}}
        </li>
      </ul>
    </li>
  </ul> -->

  <h1>Node crated using just one div</h1>
  <div #nodesTemplate></div>

  <div style="margin-top: 10px"></div>

  <input type="file" #inp />
  <h1>hello</h1>
  <!-- <input type="file" fileInput /> -->
  using DI
  <input type="file" fileDIInput />

  <div style="margin-top: 10px"></div>

  <app-tutorial></app-tutorial>
  <div style="margin-top: 10px"></div>

  <!-- <app-hello></app-hello> -->
  <div style="margin-top: 10px"></div>

  <!-- <app-appc></app-appc> -->
  <div style="margin-top: 10px"></div>
  <!-- <app-tree-node *ngFor="let node of nodes" [node]="node"></app-tree-node> -->
  <div style="margin-top: 10px"></div>
  <!-- <section>
    <div>
      <app-photo-card></app-photo-card>
    </div>

    <div>
      <app-post-card></app-post-card>
    </div>

    <div>
      <h1>All Posts</h1>
      <app-post [postOptions]="postOptions"></app-post>
    </div>
  </section>
  <div>
    <h1>Coments</h1>
    <app-post [postOptions]="commentOptions"></app-post>
  </div>

  <div style="margin-top: 100px"></div>
  <section>
    <app-list></app-list>
  </section> -->
  <!-- <div style="margin-top: 100px"></div> -->
  <!-- <section> -->
  <!-- <app-app-list-one>
    <app-item #namedItem color listType value="Projected Ajit">
      <app-item color listType value="Ajit child one two"></app-item>
    </app-item>
    <app-item #item color listType value="Shivam two"></app-item>
  </app-app-list-one> -->
  <!-- </section> -->

  <section class="container">
    <div>
      Picture
      <br />
      <input imgPreview type="file" />
      <!-- <input #img type="file"> -->
    </div>

    <div class="img-container hide">
      <img />
    </div>
  </section>

  <hr />

  <section class="container">
    <div>
      Data File
      <br />
      <input type="file" />
    </div>
  </section>

  <hr />

  <section class="container">
    <div>
      Company Picture
      <br />
      <input imgPreview type="file" />
      <!-- <input #img type="file"> -->
    </div>

    <div class="img-container hide">
      <img />
    </div>
  </section>

  <!-- <section>
    {{ emailone | safeEmail }}
    <p>{{ "09/30/1994" | age }}</p>
    <br />
    <br />
    <div>
      {{ twitterLink }}
    </div>
    <br />
    <a href="twitterLink"> {{ twitterLink | twitter : "username" }}</a>
    <div>
      Username Enter :
      <input
        type="text"
        #unBox
        (keyup.enter)="username = unBox.value; unBox.value = ''"
        name="username"
        id="asasd"
      />
      <a [href]="username | twitter : 'url'">{{ username }}</a>
    </div>

    <h2>Admin Phone Configs</h2>

    Phone: <input #phn (keyup.enter)="phone = phn.value" /> Length:
    <input #trimLen (keyup.enter)="trimLength = trimLen.value" /> Pattern:
    <input #pat (keyup.enter)="pattern = pat.value" />

    <p>{{ phone | phone : trimLength : pattern }}</p>

    <br />

    <div>
      Name:
      <input #nameh (keyup.enter)="addName(nameh.value); name.value = ''" />

      <hr />

      Search: <input #srch (keyup.enter)="filterKey = srch.value" />
      {{ filterKey }}

      Sort by:
      <select #sort (change)="sortKey = sort.value">
        <option value="asc">Asc</option>
        <option value="desc">Desc</option>
      </select>

      <p *ngFor="let name of names | filter : filterKey | sort : sortKey">
        {{ name }}
      </p>
    </div>
  </section> -->

  <section>
    <div class="row">
      <div class="col-md-12">
        <p>
          Rate of Increment
          <br />
          <small>1 count / {{ timeInMs }} ms </small>
        </p>

        <input #time (keyup.enter)="setTimeInMs(time.value); time.value = ''" />

        <p *ngIf="!isDestroyed">Completed {{ timeInMs | timer }} %</p>

        <button (click)="isDestroyed = !isDestroyed">Toggle Pipe</button>
        <!-- {{date | dateState}} days -->
      </div>
    </div>

    <br />
  </section>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <input
            #nametest
            (keyup.enter)="changeName(nametest.value); nametest.value = ''"
          />

          <br />

          Name: {{ user.name }}

          <br />

          Email: {{ user.email }}

          <br />
        </div>
        <div class="col-md-6">
          <img [src]="user | userPicture" />
        </div>
      </div>
    </div>
  </div>

  <section>
    <div *ngIf="trip" class="row">
      <div class="col-md-12">
        From {{ trip?.from }}
        <br />
        To {{ trip?.to }}
        <br />
        Distance {{ trip?.distance }}
        <br />
        <!-- Rate {{ rateCharge(trip?.distance) }} INR Avoid function call in -->
        Avoid function call in template so use pure pipes or memoization so
        using pipe below Rate
        <br />
        Rate
        {{ rateCharge | memoizedfn : this : trip?.distance }}
        {{ rateCharge | memoizedfn : trip?.distance }}
        <hr />
        <button (click)="(0)">Trigger</button>
      </div>
    </div>


    <!--     <h1 *paint>Paint</h1> is equal to
    <ng-template paint> <h1 >Paint</h1>    <ng-template >
    -->
  </section>
  <section>
    <div class="row">
      <h1>structural direcrtive rendered as comment</h1>
      <h2 *paint="name;  let item,let n=name,let lc=location;  xCoord:2 as x ,yCoord:8 as y">Paint from .Hello i am {{n}} from {{lc}}  {{x}} {{y}}</h2>
       <!-- <ng-template paint let-data let-n="name" let-loc="location">
        Paint from .Hello i am {{n}} from {{loc}}
       </ng-template> -->
    
       <div *ngIf="(names$| async) as n;"> {{n | json}}</div>
       tooltip[ top b edone]
       https://netbasal.com/angular-2-take-advantage-of-the-exportas-property-81374ce24d26
<!-- <a  tooltip="I m a tooltip" #tooltip="tooltip">I m a link</a> -->
<!-- <button (click)="tooltip.toggleTooltip()">Toggle tooltip </button> -->

<app-banner #bannercmp #bnctx="bannerCtx"></app-banner>
Qusetions :))))3 ways to toggle
<button (click)="bannercmp?.toggle()">TOggle Banner Ref var</button>
<button (click)="banner?.toggle()">TOggle Banner</button>
<button (click)="bnctx?.toggle()">TOggle Banner using export</button>
<!-- Line #2334 -->
<input type="text" sizeSwitcher placeholder="anything" #switcher="sizeSwitcher">
<button (click)="switcher?.toggle()">TOggle Banner</button>

<h3>Two way binfing </h3>
<!-- <input type="text" placeholder="anything" [(ngModel)]="inputValue"> -->
<input type="text" placeholder="anything" [ngModel]="inputValue" (ngModelChange)="handleIt($event)">
<div> Input Value :: {{inputValue}}</div>
<input type="number" placeholder="counter value" [(ngModel)]="counterValue">
<div> Counter Value :: {{counterValue}}</div>
<counter-fuckounter [(startFrom)]="counterValue" ></counter-fuckounter>


    </div>
  </section>

  <footer>
    <!-- <ul id="menu">
      <li #teset>Home</li>

      <li #last class="lastch">last</li>
    </ul>

    <ul id="app">
      <li>HTML</li>
    </ul> -->

  </footer>
</div>
